<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>


  <footer class="py-8 py-md-11 bg-gray-200">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3">

          <!-- Brand -->
          <a class="navbar-brand" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bank"
              viewBox="0 0 16 16">
              <path
                d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z" />
            </svg>
            KYCPoste
          </a>
          <!-- Text -->
          <p class="text-gray-700 mb-2">
            pour une meilleure expérience.
          </p>

          <!-- Social -->
          <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
            <li class="list-inline-item list-social-item me-3">
              <a href="#!" class="text-decoration-none">
                <img src="assets/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
              </a>
            </li>
            <li class="list-inline-item list-social-item me-3">
              <a href="#!" class="text-decoration-none">
                <img src="../../assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
              </a>
            </li>
            <li class="list-inline-item list-social-item me-3">
              <a href="#!" class="text-decoration-none">
                <img src="../../assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
              </a>
            </li>
            <li class="list-inline-item list-social-item">
              <a href="#!" class="text-decoration-none">
                <img src="../../assets/img/icons/social/pinterest.svg" class="list-social-icon" alt="...">
              </a>
            </li>
          </ul>

        </div>
        <div class="col-6 col-md-4 col-lg-2">

          <!-- Heading -->
          <h6 class="fw-bold text-uppercase text-gray-700">
            Products
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Page Builder
              </a>
            </li>
            <li class="mb-3">
              <a href="#!" class="text-reset">
                UI Kit
              </a>
            </li>
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Styleguide
              </a>
            </li>
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Documentation
              </a>
            </li>
            <li>
              <a href="#!" class="text-reset">
                Changelog
              </a>
            </li>
          </ul>

        </div>
        <div class="col-6 col-md-4 col-lg-2">

          <!-- Heading -->
          <h6 class="fw-bold text-uppercase text-gray-700">
            Services
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Documentation
              </a>
            </li>
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Changelog
              </a>
            </li>
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Pagebuilder
              </a>
            </li>
            <li>
              <a href="#!" class="text-reset">
                UI Kit
              </a>
            </li>
          </ul>

        </div>
        <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">

          <!-- Heading -->
          <h6 class="fw-bold text-uppercase text-gray-700">
            Connect
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-0">
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Page Builder
              </a>
            </li>
            <li class="mb-3">
              <a href="#!" class="text-reset">
                UI Kit
              </a>
            </li>
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Styleguide
              </a>
            </li>
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Documentation
              </a>
            </li>
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Changelog
              </a>
            </li>
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Documentation
              </a>
            </li>
            <li>
              <a href="#!" class="text-reset">
                Changelog
              </a>
            </li>
          </ul>

        </div>
        <div class="col-6 col-md-4 col-lg-2">

          <!-- Heading -->
          <h6 class="fw-bold text-uppercase text-gray-700">
            Legal
          </h6>

          <!-- List -->
          <ul class="list-unstyled text-muted mb-0">
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Documentation
              </a>
            </li>
            <li class="mb-3">
              <a href="#!" class="text-reset">
                Changelog
              </a>
            </li>
            <li>
              <a href="#!" class="text-reset">
                Pagebuilder
              </a>
            </li>
          </ul>

        </div>

      </div> <!-- / .row -->
      <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://www.poste.tn/"> La Poste Tunisienne</a>
      </div>
    </div> <!-- / .container -->

  </footer>

  
</body>

</html>
