<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="#" type="image/x-icon" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bank"
          viewBox="0 0 16 16">
          <path
            d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z" />
        </svg>
        KYCPoste
      </a>
      <div class="collapse navbar-collapse" id="navbarCollapse" *ngIf="!authenticated"> 
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="#"
              aria-haspopup="true" aria-expanded="false" [routerLink]="['/']" routerLinkActive="router-link-active">
              Home
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#" aria-haspopup="true"
              aria-expanded="false" [routerLink]="['/RDV']" routerLinkActive="router-link-active">
              RDV
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarAccount" data-bs-toggle="dropdown" href="#"
              aria-haspopup="true" aria-expanded="false" [routerLink]="['/contact']"
              routerLinkActive="router-link-active">
              Contact
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-bs-toggle="dropdown" href="#"
              aria-haspopup="true" aria-expanded="false" [routerLink]="['/about']"
              routerLinkActive="router-link-active">
              About
            </a>
          </li>
        </ul>
        <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" [routerLink]="['/login']" routerLinkActive="router-link-active" >
          Login
        </a>
        <a class="navbar-btn btn btn-sm btn-primary-soft lift" [routerLink]="['/signup']" routerLinkActive="router-link-active" >
          Sign up
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarCollapse" *ngIf="authenticated"> 
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="#"
              aria-haspopup="true" aria-expanded="false"  [routerLink]="['/kyc']" routerLinkActive="router-link-active" >
              Home
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#" aria-haspopup="true"
              aria-expanded="false">
              RDV
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarAccount" data-bs-toggle="dropdown" href="#"
              aria-haspopup="true" aria-expanded="false">
              account
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-bs-toggle="dropdown" href="#"
              aria-haspopup="true" aria-expanded="false">
              settings
            </a>
          </li>
        </ul>
        <a hidden class="navbar-btn btn btn-sm btn-primary-soft lift">
        </a>

        <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" (click)="logout()">
          Logout
        </a>
       
      </div>

    </div>
  </nav>
</body>

</html>
